html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-family: 'Orbitron', sans-serif;
}
input, button, textarea, img{
	border-radius: 5px;
	margin: 10px;
}
select {
	position:relative;
	right: 10px;
}
a{
	text-decoration: none;
}
input, select{
	font-family: 'Orbitron';
	font-size: 26px;
	color: #FF5722;
	padding-left: 10px;
}
textarea{
	font-family: 'Orbitron';
	font-size: 26px;
	color: #FF5722;
	padding-left: 10px;
	padding-top: 10px;
}
button{
	font-size: 18px;
	background: #D50000;
	color: white;
}
.material-icons:hover{
	cursor: pointer;
}